.background-page {
  background: linear-gradient(to bottom, #009688 15vh, #dbdbd2 15vh);

  /* background-color: red; */

  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.debug {
  border: 1px dashed red;
  background-color: rgba(255, 0, 0, 0.3);
}

.app-display {
  height: 80vh;
  width: 80%;
  margin: 10vh auto;
  background-image: url(./img/mine.jpg);
}

.list-users {
  height: 80vh;
}

.Scorrimento {
  overflow: auto;
}
.msg-all {
  max-width: 70%;
  border-radius: 5px;
  padding: 5px;

  position: relative;
}

.msg-mine {
  background-color: greenyellow;
  margin: 10px 0;
  margin-left: auto;
}

.msg-other {
  background-color: rgb(158, 158, 158);
  margin-right: auto;
}

#insert-new-msg {
  width: 90%;
  margin: 0 auto;
}

.round-icon {
  width: 50px;
  line-height: 50px;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 50%;
}

.note > .round-icon {
  width: 30px;
  line-height: 30px;
  font-size: 1rem;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
}

.text-highlight {
  margin: 0 5px;
  font-size: small;
}
.text-subtitle {
  margin: 0 5px;
  color: #626250;
  font-size: x-small;

  text-decoration: underline;
}
.small-txt {
  margin: 0 10px;
  color: #626250;
  font-size: x-small;
}

.user-name {
  margin: 0 10px;
  line-height: 20px;
}

.display-Zone {
  background-color: rgb(197, 197, 197);
}
.display-Zone > .icon {
  color: #939090;
  cursor: pointer;
}

.display-Zone .Scorrimento {
  background-color: #fd0000;
}

.contact-active {
  background-color: rgba(255, 255, 255, 0.3);
}
.contact-search:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.msg-option {
  background-color: #75ede1;
  position: absolute;
  top: 60%;
  right: 10%;
  z-index: 2;
  padding: 5px 20px;
  border-radius: 5px;
}

.hide {
  display: none;
}

.note {
  background-color: #8edafc;
}
